.text-center{
    text-align: center;
  }
  
  .bg-red{
    background: red;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }
  .row{
    color: blue;
    background: #000;
  }
  .row1{
    color: aqua;
    background-color: crimson;
  }